* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body,
html {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    background-image: url(/src/assets/backgroundjpg.jpg);
}

.webgl {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

nav {
    color: aliceblue;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 4rem 8rem;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 4rem;
    font-size: 1rem;
}

.title {
    color: aliceblue;
    z-index: 2;
    position: absolute;
    font-size: 3rem;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -25%);
}

.subtitle {
    color: rgb(168, 168, 168);
    z-index: 4;
    position: absolute;
    font-size: 1rem;
    left: 50%;
    top: 83%;
    transform: translate(-50%, -25%);
    text-align: center;
}

.footer {
    color: rgb(94, 167, 255);
    z-index: 6;
    position: absolute;
    font-size: 1rem;
    left: 50%;
    top: 90%;
    font-weight: bold;
    transform: translate(-50%, -25%);
    text-align: center;
}

@media only screen and (min-width: 320px) {

    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        position: relative;
        z-index: 2;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
    }

    /* Style navigation menu links */
    .topnav a {
        color: white;
        padding: 14px 20px;
        text-decoration: none;
        font-size: 25px;
        font-weight: bold;
        display: block;
    }

    /* Add a grey background color on mouse-over */
    #myLinks a:hover {
        background-color: white;
        color: black;
    }

    /* Style the hamburger menu */
    .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    nav ul {
        display: none;
    }

    nav a {
        display: none;
    }

    nav {
        color: aliceblue;
        position: relative;
        z-index: 2;
        padding: 2rem 2rem;
    }

    .title {
        color: aliceblue;
        z-index: 2;
        position: absolute;
        font-size: 24px;
        left: 50%;
        top: 62%;
        transform: translate(-50%, -25%);
    }

    .subtitle {
        color: rgb(168, 168, 168);
        z-index: 4;
        position: absolute;
        font-size: 13px;
        left: 50%;
        top: 72%;
        transform: translate(-50%, -25%);
        text-align: center;
    }

    .footer {
        color: rgb(94, 167, 255);
        z-index: 6;
        position: absolute;
        font-size: 10px;
        left: 50%;
        top: 90%;
        font-weight: bold;
        transform: translate(-50%, -25%);
        text-align: center;
    }
}

@media only screen and (min-width: 375px) {

    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        position: relative;
        z-index: 2;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
    }

    /* Style navigation menu links */
    .topnav a {
        color: white;
        padding: 14px 20px;
        text-decoration: none;
        font-size: 25px;
        font-weight: bold;
        display: block;
    }

    /* Add a grey background color on mouse-over */
    #myLinks a:hover {
        background-color: white;
        color: black;
    }

    /* Style the hamburger menu */
    .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    nav ul {
        display: none;
    }

    nav a {
        display: none;
    }

    nav {
        color: aliceblue;
        position: relative;
        z-index: 2;
        padding: 2rem 2rem;
    }

    .title {
        color: aliceblue;
        z-index: 2;
        position: absolute;
        font-size: 28px;
        left: 50%;
        top: 62%;
        transform: translate(-50%, -25%);
    }

    .subtitle {
        color: rgb(168, 168, 168);
        z-index: 4;
        position: absolute;
        font-size: 14px;
        left: 50%;
        top: 72%;
        transform: translate(-50%, -25%);
        text-align: center;
    }

    .footer {
        color: rgb(94, 167, 255);
        z-index: 6;
        position: absolute;
        font-size: 12px;
        left: 50%;
        top: 90%;
        font-weight: bold;
        transform: translate(-50%, -25%);
        text-align: center;
    }
}

@media only screen and (min-width: 425px) {

    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        position: relative;
        z-index: 2;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
    }

    /* Style navigation menu links */
    .topnav a {
        color: white;
        padding: 14px 20px;
        text-decoration: none;
        font-size: 25px;
        font-weight: bold;
        display: block;
    }

    /* Add a grey background color on mouse-over */
    #myLinks a:hover {
        background-color: white;
        color: black;
    }

    /* Style the hamburger menu */
    .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    nav ul {
        display: none;
    }

    nav a {
        display: none;
    }

    nav {
        color: aliceblue;
        position: relative;
        z-index: 2;
        padding: 2rem 2rem;
    }

    .title {
        color: aliceblue;
        z-index: 2;
        position: absolute;
        font-size: 32px;
        left: 50%;
        top: 61%;
        transform: translate(-50%, -25%);
    }

    .subtitle {
        color: rgb(168, 168, 168);
        z-index: 4;
        position: absolute;
        font-size: 14px;
        left: 50%;
        top: 72%;
        transform: translate(-50%, -25%);
        text-align: center;
    }

    .footer {
        color: rgb(94, 167, 255);
        z-index: 6;
        position: absolute;
        font-size: 13px;
        left: 50%;
        top: 90%;
        font-weight: bold;
        transform: translate(-50%, -25%);
        text-align: center;
    }
}
@media only screen and (min-width: 768px) {

    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        position: relative;
        z-index: 2;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
    }

    /* Style navigation menu links */
    .topnav a {
        color: white;
        padding: 14px 20px;
        text-decoration: none;
        font-size: 25px;
        font-weight: bold;
        display: none;
    }

    /* Style the hamburger menu */
    .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    nav ul {
        display: flex;
    }

    nav a {
        display: block;
    }

    nav {
        color: aliceblue;
        position: relative;
        z-index: 2;
        padding: 2rem 2rem;
    }

    .title {
        color: aliceblue;
        z-index: 2;
        position: absolute;
        font-size: 36px;
        left: 50%;
        top: 61%;
        transform: translate(-50%, -25%);
    }

    .subtitle {
        color: rgb(168, 168, 168);
        z-index: 4;
        position: absolute;
        font-size: 18px;
        left: 50%;
        top: 72%;
        transform: translate(-50%, -25%);
        text-align: center;
    }

    .footer {
        color: rgb(94, 167, 255);
        z-index: 6;
        position: absolute;
        font-size: 15px;
        left: 50%;
        top: 90%;
        font-weight: bold;
        transform: translate(-50%, -25%);
        text-align: center;
    }
}

@media only screen and (min-width: 1024px) {

    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        position: relative;
        z-index: 2;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
    }

    /* Style navigation menu links */
    .topnav a {
        color: white;
        padding: 14px 20px;
        text-decoration: none;
        font-size: 25px;
        font-weight: bold;
        display: none;
    }

    /* Style the hamburger menu */
    .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    nav ul {
        display: flex;
    }

    nav a {
        display: block;
    }

    nav {
        color: aliceblue;
        position: relative;
        z-index: 2;
        padding: 2rem 2rem;
    }

    .title {
        color: aliceblue;
        z-index: 2;
        position: absolute;
        font-size: 48px;
        left: 50%;
        top: 63%;
        transform: translate(-50%, -25%);
    }

    .subtitle {
        color: rgb(168, 168, 168);
        z-index: 4;
        position: absolute;
        font-size: 18px;
        left: 50%;
        top: 76%;
        transform: translate(-50%, -25%);
        text-align: center;
    }

    .footer {
        color: rgb(94, 167, 255);
        z-index: 6;
        position: absolute;
        font-size: 15px;
        left: 50%;
        top: 90%;
        font-weight: bold;
        transform: translate(-50%, -25%);
        text-align: center;
    }
}


